<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!--    <div th:fragment="header">-->
<!--        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>-->
<!--    </div>-->


<!--    <div style="position:fixed;left:0;bottom:0;width:100%;background-color:aliceblue;height: 7%" th:fragment="footer">-->
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Sign Out">-->
<!--        </form>-->
<!--    </div>-->
</body>
</html>