<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="fragments/header.html :: headerfiles"></th:block>
    <title>Title</title>

    <style>

        html, body{
            height: 100%;
        }
        .navbar {
            position: absolute;
            width:100%;
            z-index: 1;
        }
        #global-container, .container{
            height: 100%;
        }

        #form-container{
            height: 100%;
        }
    </style>

</head>
<body>



<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">Home</a>

    <div class="container-fluid">
        <div class="navbar-nav"></div>
        <form class="d-flex" th:action="@{/login}" method="get">
            <input class="btn btn-outline-light" type="submit" value="Log in">
        </form>
    </div>

</nav>










    <div class="container">

        <div class="row justify-content-center align-items-center" style="height: 100%">

            <div id="global-container" class="col-lg-6 bg-dark">

                <div class="row justify-content-center align-items-center" style="height: 100%">

                    <div class="col-md-10 p-3">

                        <h1 class="text-center text-light">User login</h1>

                        <div class="row justify-content-center align-items-center">

                            <div id="form-container" class="col-md-8 pt-3 shadow-lg rounded bg-secondary">


                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="username" placeholder="Enter record number" name="username" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password" placeholder="Enter DNI" name="password" required>
                                    </div>

                                    <hr>

                                    <button type="submit" class="btn btn-lg btn-primary btn-block mb-3">Log in</button>
                                </form>


                                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                    Invalid username and password.
                                </div>

                                <div th:if="${param.logout}" class="alert alert-info" role="alert">
                                    You have been logged out.
                                </div>

                            </div>
                        </div>
                        <hr>
                        <h6 class="text-center">For admin access use 'admin' as record number</h6>

                    </div>



                </div>




            </div>
        </div>







    </div>








</body>
</html>













<!--<div th:if="${param.error}">-->
<!--    &lt;!&ndash;        <div class="alert alert-danger">&ndash;&gt;-->
<!--    Invalid username and password.-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    &lt;!&ndash;        <div class="alert alert-info">&ndash;&gt;-->
<!--    You have been logged out.-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--</div>-->



<!--<form th:action="@{/login}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Record#:</td>-->
<!--            <td><input type='text' name='username' value='' placeholder='xxxx' required="required" autofocus="autofocus"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>DNI:</td>-->
<!--            <td><input type='password' name='password' value='' placeholder='xx.xxx.xxx' required="required"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td colspan='2'><input name="submit" type="submit" value="Sign in" /></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    &lt;!&ndash;        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />&ndash;&gt;-->
<!--</form>-->