<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"></p>
    <table>
        <thead>
            <tr>
                <th>ClassId</th>
                <th>ClassName</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="class : ${classes}">
                <td th:text="${class.getId()}"></td>
                <td th:text="${class.getName()}"></td>
                <td>
                    <div th:switch="${class.isEnrolled(student.getId())}">
                        <div th:case="true">
                            <form method="GET" th:action="@{'/user/unenroll/' + ${class.getId()}}">
                                <input type = "submit" value = "Unenroll"/>
                            </form>
                        </div>
                        <div th:case="false">
                            <form method="GET" th:action="@{'/user/enroll/' + ${class.getId()}}">
                                <div th:if="${student.isEnrollable(class)}">
                                    <input type = "submit" value = "Enroll"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td th:text="${class.getTickets() + ' tickets left.'}">
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>

</body>
</html>